<h2>Add Post:</h2>

<div>
  <form>
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" [(ngModel)]="currentPost.title" name="title" #title> 
    </div>
    <div>
      <label for="body">Body</label>
      <input type="text" id="body" [(ngModel)]="currentPost.body" name="body" #body> 
    </div>
    <input type="hidden" [(ngModel)]="currentPost.id" name="id">
  </form>
  <button *ngIf="!isEdit" (click)="addPost(title.value, body.value)">Add Post</button>
  <button *ngIf="isEdit" (click)="updatePost()">Update Post</button>
</div>